.movies__page {
  &__tools {
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.2rem 0.5rem #d8d8d8;
    color: #7d7d7d;
    background: #f7f7f7;
    //position: fixed;
    //width: 100%;
    //z-index: 1;
  }

  &__content {
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
  }
}