.page__tools {
  > input {
    width: 70%;
    height: 3rem;
    font-family: 'Baloo Thambi 2', cursive;
    border: 1px solid #eaeaea;
    padding: 0 1rem;
    border-radius: 1rem;
    outline: none;
  }
}